# -------------------------
# GLOBAL IGNORE
# -------------------------
.DS_Store
Thumbs.db
*.log
logs/

# -------------------------
# SECRETS (DO NOT COMMIT)
# -------------------------
.env
.env.example
.env.*
**/.env
**/.env.*

# -------------------------
# NODE DEPENDENCIES
# -------------------------
node_modules/
**/node_modules/

# -------------------------
# BUILDS
# -------------------------
dist/
build/
**/dist/
**/build/

# Vite
**/.vite/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp
